# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables
.env
*.env

# Ignore database and migration-related files
db.sqlite3
*.sqlite3
*.db
*.sqlite

# Ignore Django migration files
**/migrations/*.py
!**/migrations/__init__.py


# Ignore media and static files (if generated dynamically)
media/
staticfiles/
static/

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore virtual environments
venv/
env/
.venv/
.python-version

# Ignore deployment files
*.pem
.DS_Store
